:host {
    display: table;
}
input {
    width: 50px;
    height: 50px;
    text-align: center;
}
.board-row {
    display: table-row;
    overflow: auto;
    /* float: left; */
}
.board-col {
    float: left;
    border: 0 solid #000;
}
.board-col:nth-child(3n) {
    border-right-width: 2px;
}
.board-col:first-of-type {
    border-left-width: 2px;
}
.board-col:last-of-type {
    border-right-width: 2px;
}

.board-row:first-of-type .board-col {
    border-top-width: 2px;
}
.board-row:nth-child(3n) .board-col {
    border-bottom-width: 2px;
}