:host {
    display: table;
}
.board-cell-container {
    width: 55px;
    height: 55px;
    text-align: center;
    font-weight: bold;
    float: left;
    border: 1px solid #333;
}
.board-cell-container.error {
    background-color: plum;
}
.board-cell-container.completed {
    background-color: burlywood !important;
}
.board-cell-container.selected {
    /* background-color: aqua; */
}
.board-cell-container.disabled {
    background-color: #ebebe4;
}
.board-row {
    display: table-row;
    overflow: auto;
}
.board-cell {
    height: 100%;
    width: 100%;
    outline: none;
    user-select: none;
    font-size: 2em;
}
.board-cell-container:first-of-type {
    border-left-width: 4px;
}
.board-cell-container:nth-child(3n) {
    border-right-width: 3px
}
.board-cell-container:last-of-type {
    border-right-width: 4px;
}

.board-row:first-of-type .board-cell-container {
    border-top-width: 4px;
}
.board-row:nth-child(3n) .board-cell-container {
    border-bottom-width: 3px;
}
.board-row:last-of-type .board-cell-container {
    border-bottom-width: 4px;
}

@media (min-width: 992px) {
    /* input {
        width: 40px;
        height: 40px;
    } */
}
.board-cell-container.disabled.error{
    background-color: orchid;
}
.board-cell:focus {
    outline: none;
    background-color: aqua;
}
.board-cell-container:focus {
    background-color: aqua;
}