:host {
    display: table;
}
input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}
input.error {
    background-color: plum;
}
input.completed {
    background-color: burlywood !important;
}
input.selected {
    background-color: aqua;
}
.board-row {
    display: table-row;
    overflow: auto;
}
.board-cell {
    float: left;
    border: 1px solid #333;
}
.board-cell:first-of-type {
    border-left-width: 4px;
}
.board-cell:nth-child(3n) {
    border-right-width: 3px
}
.board-cell:last-of-type {
    border-right-width: 4px;
}

.board-row:first-of-type .board-cell {
    border-top-width: 4px;
}
.board-row:nth-child(3n) .board-cell {
    border-bottom-width: 3px;
}
.board-row:last-of-type .board-cell {
    border-bottom-width: 4px;
}

@media (min-width: 992px) {
    /* input {
        width: 40px;
        height: 40px;
    } */
}
input:disabled.error{
    background-color: orchid;
}
input:focus {
    outline: none;
}
input:focus {
    background-color: aqua;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}